<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="./css-scss/normalize.css" rel="stylesheet" />
    <link href="./css-scss/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Social Media App</h1>
      <nav>
        <ul class="page-nav">
          <a href="register.html"><li>Register</li></a>
          <a href="login.html"><li>Login</li></a>
          <a href="app"><li>App</li></a>
          <a href="posts"><li>Posts</li></a>
        </ul>
      </nav>
      <form action="/logout" method="post">
        <input id="logout-button" type="submit" value="Logout" />
      </form>
    </header>
    <h1>Recent Posts</h1>

    <!-- <button id="get-posts">Click to get recent posts</button> -->
    <ul id="recent-posts">
      <% data.posts.forEach(result => {%>
      <li class="post">
        <h2><strong><%=result.username%></strong></h2>
        <p>Post Number: <%=result.postNumber%></p>
        <p class="post-text"><%=result.postText%></p>
        <p>Time posted: <%=result.timePosted%></p>
        <div class="rate">
          <input
            type="radio"
            id="star5_<%=result.postNumber%>"
            name="rate_<%=result.postNumber%>"
            value="5"
          />
          <label for="star5_<%=result.postNumber%>" title="text">5 stars</label>
          <input
            type="radio"
            id="star4_<%=result.postNumber%>"
            name="rate_<%=result.postNumber%>"
            value="4"
          />
          <label for="star4_<%=result.postNumber%>" title="text">4 stars</label>
          <input
            type="radio"
            id="star3_<%=result.postNumber%>"
            name="rate_<%=result.postNumber%>"
            value="3"
          />
          <label for="star3_<%=result.postNumber%>" title="text">3 stars</label>
          <input
            type="radio"
            id="star2_<%=result.postNumber%>"
            name="rate_<%=result.postNumber%>"
            value="2"
          />
          <label for="star2_<%=result.postNumber%>" title="text">2 stars</label>
          <input
            type="radio"
            id="star1_<%=result.postNumber%>"
            name="rate_<%=result.postNumber%>"
            value="1"
          />
          <label for="star1_<%=result.postNumber%>" title="text">1 star</label>
        </div>
      </li>
      <% }) %>
    </ul>
  </body>
  <script type="module" src="./scripts/posts.js"></script>
</html>
