<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <h1>Social Media App</h1>
      <nav><%- include("../partials/nav") %></nav>
      <form action="/logout" method="post">
        <input id="logout-button" type="submit" value="Logout" />
      </form>
    </header>
    <h1>Recent Posts</h1>

    <!-- <button id="get-posts">Click to get recent posts</button> -->
    <ul id="recent-posts">
      <% data.posts.forEach(result => {%>
      <li class="post">
        <h2><strong><%=result.username%></strong></h2>
        <p>Post Number: <%=result.postNumber%></p>
        <p class="post-text"><%=result.postText%></p>
        <%if(result.imagePath) {%>
          <img src="<%=result.imagePath%>" style="width: 100px;">
          <%}%>
        <p>Time posted: <%=result.createdAt.toString().substring(4,21)%></p>
        <%if(result.whoVoted.includes(data.userID)) {%>
          <h2>You have already rated post</h2>
        <% } else if(result.username == data.username) {%>
          <h2>You cannot rate your own post</h2>
        <% } else {%>
        <form id="rating-submit" method="post" action="/updateScore">
          <div class="rate">
            <input type="hidden" id="postNum" name="postNum" value="<%=result.postNumber%>" >
            <input type="hidden" id="postAuthor" name="postAuthor" value="<%=result.username%>" >
            <input
              type="radio"
              id="star5_<%=result.postNumber%>"
              name="rate_<%=result.postNumber%>"
              value="5"

            />
            <label for="star5_<%=result.postNumber%>" title="text"
              >5 stars</label
            >
            <input
              type="radio"
              id="star4_<%=result.postNumber%>"
              name="rate_<%=result.postNumber%>"
              value="4"

            />
              <label for="star4_<%=result.postNumber%>" title="text"
              >4 stars</label
            >
            <input
              type="radio"
              id="star3_<%=result.postNumber%>"
              name="rate_<%=result.postNumber%>"
              value="3"

            />
              <label for="star3_<%=result.postNumber%>" title="text"
              >3 stars</label
            >
            <input
              type="radio"
              id="star2_<%=result.postNumber%>"
              name="rate_<%=result.postNumber%>"
              value="2"

            />
              <label for="star2_<%=result.postNumber%>" title="text"
              >2 stars</label
            >
            <input
              type="radio"
              id="star1_<%=result.postNumber%>"
              name="rate_<%=result.postNumber%>"
              value="1"

            />
              <label for="star1_<%=result.postNumber%>" title="text"
              >1 star</label
            >
          </div>

          <button type="submit">Submit rating</button>
        </form>
        <%}%>
      </li>
      <% }) %>
    </ul>
  </body>
  <script type="module" src="./scripts/posts.js"></script>
</html>
