<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <nav><%- include("../partials/logged-in-nav") %></nav>
    </header>
    <main id="profile-container">
      <section id="profile-details">
        <div id="profile-heading">
          <img class="profile-pic" 
          <%if(data.user.profilePicture) {%>
            src="<%=data.user.profilePicture%>"
            <%}%>
          />
          <h1 class="main-page-title"><%=data.user.username%>'s profile</h1>
        </div>
        <h2 id="profile-score">User score: <span id="score"><%=data.user.profileScore.toString().substring(0,3)%></span></h2>
        <p id="bio" style="text-align: center;" id="user-bio"><%=data.user.bio%></p>
        <a href="/settings"><button>Edit profile</button></a>
      </section>
      <section id="profile-posts-section">
        <h2>My recent posts</h2>
        <ul id="profile-posts">
        <% data.posts.forEach(result => {%>
          <%let ownPost = false%>
          <%if(result.username == data.username){ownPost=true};%>
          <li class="post">
            <div class="user-details">
              <div>
                <img class="profile-pic" 
                <%if(data.user.profilePicture) {%>
                  src="<%=data.user.profilePicture%>"
                  <%}%>
                />            
                  <h2><%=result.username%></h2>  
              </div>
            </div>
            <!-- <p>Post Number: <%=result.postNumber%></p> -->
            <div id="post-details">
              <%if(result.imagePath) {%>
                <img src="<%=result.imagePath%>" >
                <%}%>
              <p class="post-text"><%=result.postText%></p>
            <p>Time posted: <%=result.createdAt.toString().substring(4,21)%></p>
            </div>
                <form action="/removePost" method="post">
                  <input type="hidden" id="postNum" name="postNum" value="<%=result.postNumber%>" >
                  <input id="delete-post-button" type="submit" value="Delete Post" />
                </form>        
            </div>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
  <script type="module" src="./scripts/profile.js"></script>
</html>
