<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <h1>Social Media App</h1>
      <nav><%- include("../partials/nav") %></nav>
      <form action="/logout" method="post">
        <input id="logout-button" type="submit" value="Logout" />
      </form>
    </header>
    <h1><%=data.user.username%>'s profile</h1>
      <h2>User score: <%=data.user.profileScore.toString().substring(0,3)%></h2>
      <%if(!data.user.profileScore) {%>
        <p>Gain a score by getting rates on your posts</p>
        <%}%>
    <p id="user-bio">Bio: <%=data.user.bio%></p>
    <input type="text" id="bio-text">
    <button id="update-bio-btn">Update Bio</button>
    <h2>My recent posts</h2>
    <ul id="profile-posts">
    <% data.posts.forEach(result => {%>
      <li class="post">
        <h2><strong><%=result.username%></strong></h2>
        <p>Post Number: <%=result.postNumber%></p>
        <p class="post-text"><%=result.postText%></p>
        <p>Time posted: <%=result.createdAt.toString().substring(4,21)%></p>
      </li>
      <% }) %>
    </ul>
  </body>
  <script type="module" src="./scripts/utils.js"></script>
  <script type="module" src="./scripts/posts.js"></script>
  <script type="module" src="./scripts/profile.js"></script>
</html>
